h1, table {
  text-align: center;
  margin: 25px auto;
}

td, th {
  border: solid 1px black;
  padding: 5px;
}



.CSD-Header {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
  text-decoration: none;
}

.mapLocations {
  text-align: center;
  background-color: salmon;
}

p {
  display: inline-block
}

iframe {
  display: inline-block
}

header {
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  width: 100px;
}

.store-name {
  margin-right: 30%;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}



footer {
  border: 3px solid black;
  text-align: center;
  background-color: salmon;

  padding: 15px;
}

#cities {
  border: 3px solid black;
}

.locations {
  display: flex;
  justify-content: space-between;
}

.seattlesection,
.tokyosection,
.dubaisection,
.parissection,
.limasection {
  margin: 15px;
  padding: 15px;
  border: 2px solid 	#C0C0C0;
  box-sizing: border-box;
}


.seattlesection {
  margin: 15px;
  padding: 15px;
  border: 2px solid #006400;
  box-sizing: border-box;
}
.tokyosection,
.dubaisection,
.parissection,
.limasection {
  margin: 15px;
  padding: 15px;
  border: 2px solid 	#FA8072;
  box-sizing: border-box;
}


.button-section {
  text-align: center;
}

fieldset * {
  display: block;
}